@mixin two-part ($top, $bottom, $direction: to bottom) {
  background:
    linear-gradient(
      $direction,
      $top 50%,
      $bottom 50%,
    );
}

@mixin three-part ($top, $middle, $bottom, $direction: to bottom) {
  background:
    linear-gradient(
      $direction,
      $top,
      $top calc(100% / 3),
      $middle calc(100% / 3),
      $middle calc(100% / 3 * 2),
      $bottom calc(100% / 3 * 2),
      $bottom 100%,
    );
}

@mixin flag-symbol ($content, $color, $left, $top, $size : 20px) {
  position: absolute;
  top: $top;
  left: $left;
  font-family: FlagSymbols;
  font-size: $size;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $color;
  text-transform: none;
  content: $content;
}

@mixin flag-base64-symbol ($content, $left: 20%, $top: 20%, $width : 20px, $height : 20px) {
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  content: "";
  background-image: url($content);
  background-size: $width, $height;
}
