// Burkina Faso
&-bf {
  @include two-part(#ef2b2d, #009e49);

  &::before {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    font-size: calc($flag-size / 4);
    color: #fcd116;
    text-align: center;
    content: "★";
  }
}