// Cameroon
&-cm {
  position: relative;

  @include three-part(#007a5e, #ce1126, #fcd116, to right);

  &::before {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    font-size: calc($flag-size / 4);
    color: #fcd116;
    text-align: center;
    content: "★";
  }
}