// Ghana
&-gh {
  @include three-part(#ce1126, #fcd116, #006b3f);
  
  &::before {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: calc($flag-size / 4);
    color: #000;
    content: "★";
  }
}