// Greece
&-gr {
  position: relative;
  background-image:
    repeating-linear-gradient(
      to bottom,
      #0d5eaf,
      #0d5eaf calc(40px / 9),
      #fff calc(40px / 9),
      #fff calc(40px / 9 * 2)
    );
  
  &::before {
    display: block;
    width: calc($flag-width / 2.5);
    height: calc($flag-height / 1.805);
    content: "";
    background:
      linear-gradient(
        to bottom,
        transparent 42%,
        #fff 42%,
        #fff 61%,
        transparent 61%
      ),
      linear-gradient(
        to right,
        transparent 42%,
        #fff 42%,
        #fff 58%,
        transparent 5%
      )
      #0d5eaf;
  }
}