// Grenada
&-gd {
  background:
    linear-gradient(
      150deg,
      #007a5e 25%,
      transparent 15%
    ) 0 calc($flag-size / 4.35),
    linear-gradient(
      30deg,
      #007a5e 25%,
      transparent 15%
    ) 0 calc($flag-size / 4.35),
    linear-gradient(
      -150deg,
      #007a5e 25%,
      transparent 15%
    ) 0 calc($flag-size / 4.35),
    linear-gradient(
      -30deg,
      #007a5e 25%,
      transparent 15%
    ) 0 calc($flag-size / 4.35),
    #fed100;
  border-top: calc($flag-size / 10) solid #d21034;
  border-right: calc($flag-size / 10) solid #d21034;
  border-bottom: calc($flag-size / 10) solid #d21034;
  border-left: calc($flag-size / 10) solid #d21034;

  &::before {
    background:
      radial-gradient(
        calc($flag-size / 3) at 50% 50%,
        #fed100 0,
        #fed100 30%,
        transparent 30%,
        transparent 100%
      );

    @include flag-symbol("\e924", #bc002d, 27%, 20%, calc($flag-size / 3.5));
  }  
}