// Mauritania
&-mr {
  position: relative;
  background:
    radial-gradient(
      calc($flag-width / 3) * 2.1 at 50% 0,
      #00A95C 0,
      #00A95C 37%,
      transparent 37%,
      transparent 100%
    ),
    radial-gradient(
      calc($flag-width / 3) * 2 at 50% 24%,
      #ffc400 0,
      #ffc400 35%,
      transparent 35%,
      transparent 100%
    )
    #00A95C;
  border-top: $flag-width * 0.125 solid #d01c1f;
  border-bottom: $flag-width * 0.125 solid #d01c1f;
    
  &::before {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: calc($flag-width / 8);
    color: #ffc400;
    text-align: center;
    content: "★";
  }
}
