// Cambodia
&-kh {
  background:
    linear-gradient(
      to bottom,
      #ce1126 25%,
      #052d74 25%,
      #052d74 75%,
      #ce1126 75%,
      #ce1126 100%
    );

  &::before {
    @include flagSymbol("\e922", #fff, 30%, 30%, $flag-size / 4);
  }
}
// Cameroon
&-cm {
  position: relative;

  @include threePart(#007a5e, #ce1126, #fcd116, to right);

  &::before {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    font-size: $flag-size / 4;
    color: #fcd116;
    text-align: center;
    content: "★";
  }
}
// Canada
&-ca {
  background:
    linear-gradient(
      to right,
      #ef3340 28%,
      #fff 28%,
      #fff 72%,
      #ef3340 72%
    );

  &::before {
    @include flagSymbol("\e90c", #ef3340, 34%, 20%, $flag-size / 3);
  }
}
// Cape Verde
&-cv {
  background:
    linear-gradient(
      #002b7f 60%,
      #fff 60%,
      #fff 65%,
      #ce1126 65%,
      #ce1126 70%,
      #fff 70%,
      #fff 75%,
      #002b7f 75%,
      #002b7f 100%
    );

  &::before {
    @include flagSymbol("\e910", #f7d116, 10%, 40%);
  }
}
// Central African Republic
&-cf {
  position: relative;
  background:
    linear-gradient(
      to right,
      transparent 0%,
      transparent 42%,
      #d21034 42%,
      #d21034 58%,
      transparent 58%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      #003082,
      #003082 25%,
      #fff 25%,
      #fff 50%,
      #289728 50%,
      #289728 75%,
      #ffce00 75%,
      #ffce00 100%
    );

  &::before {
    position: absolute;
    top: 5%;
    left: 8%;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-width / 10;
    color: #ffce00;
    content: "★";
  }
}
// Chad
&-td {
  @include threePart(#002664, #fecb00, #c60c30, to right);
}
// Chile
&-cl {
  position: relative;
  background:
    linear-gradient(
      to bottom,
      #fff,
      #fff 50%,
      #d52b1e 50%,
      #d52b1e 100%
    );

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: $flag-size / 3;
    height: $flag-size / 3;
    padding-top: $flag-size / 12;
    font-size: $flag-size / 6;
    color: #fff;
    text-align: center;
    content: "★";
    background: #0039a6;
  }
}
// China
&-cn {
  background: #ce1126;

  &::before {
    @include flagSymbol("\e90f", #f7d116, 5%, 10%);
  }
}
// Colombia
&-co {
  background:
    linear-gradient(
      to bottom,
      #fcd116 0%,
      #fcd116 50%,
      #003893 50%,
      #003893 75%,
      #ce1126 75%,
      #ce1126 100%
    );
}
// Comoros
&-km {
  background:
    linear-gradient(
      146deg,
      #3d8e33 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      34deg,
      #3d8e33 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      to bottom,
      #ffc61e 0%,
      #ffc61e 25%,
      #fff 25%,
      #fff 50%,
      #ce1025 50%,
      #ce1126 75%,
      #3a75c4 75%,
      #3a75c4 100%
    );

    &::before {
      @include flagSymbol("\e923", #fff, -5%, 25%, $flag-height / 2);
    }
}
// Costa Rica
&-cr {
  background:
    linear-gradient(
      to bottom,
      #002a7f 15%,
      #fff 15%,
      #fff 35%,
      #ce1126 35%,
      #ce1126 65%,
      #fff 65%,
      #fff 85%,
      #002b7f 85%,
      #002b7f 100%
    );
}
// Croatia
&-hr {
  @include threePart(#c8102e, #fff, #012169);
}
// Cuba
&-cu {
  position: relative;
  background:
    linear-gradient(
      146deg,
      #cf142b 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      34deg,
      #cf142b 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      to bottom,
      #002a8f 20%,
      #fff 20%,
      #fff 40%,
      #002a8f 40%,
      #002a8f 60%,
      #fff 60%,
      #fff 80%,
      #002a8f 80%,
      #002a8f 100%
    );
  
  &::before {
    position: absolute;
    top: 35%;
    left: 8%;
    font-size: $flag-size / 6;
    color: #fff;
    content: "★";
  }
}
// Cyprus
&-cy {
  background: #fff;

  &::before {
    @include flagSymbol("\e912", #d57800, 10%, 0, $flag-height);
  }

  &::after {
    @include flagSymbol("\e911", #4e5b31, 15%, 35%, $flag-size / 2);
  }
}
// Czechia
&-cz {
  background:
    linear-gradient(
      146deg,
      #11457e 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      34deg,
      #11457e 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #fff 50%,
      #d7141a 50%
    );
}

// Congo
// &-cg {
//   position: relative;
//   background:
//     linear-gradient(
//       152deg,
//       #00a3dd 40%,
//       #fcd116 40%,
//       #fcd116 43%,
//       #d21034 43%,
//       #d21034 57%,
//       #fcd116 57%,
//       #fcd116 60%,
//       #00a3dd 60%
//     );
  
//   &::before {
//     position: absolute;
//     top: $flag-size * 0.05;
//     margin-top: 0;
//     margin-left: 5%;
//     font-size: $flag-size / 4;
//     color: #ffce00;
//     content: "★";
//   }
// }
// // Congo
// &-cd {
//   background:
//     linear-gradient(
//       135deg,
//       #009543 40%,
//       #fbde4a 40%,
//       #fbde4a 60%,
//       #d21034 60%,
//       #d21034 60%
//     );
// }

// Ivory Coast
&-ci {
  @include threePart(#f77f00, #fff, #009e60, to right);
}
