// Cuba
&-cu {
  position: relative;
  background:
    linear-gradient(
      146deg,
      #cf142b 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      34deg,
      #cf142b 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      to bottom,
      #002a8f 20%,
      #fff 20%,
      #fff 40%,
      #002a8f 40%,
      #002a8f 60%,
      #fff 60%,
      #fff 80%,
      #002a8f 80%,
      #002a8f 100%
    );
  
  &::before {
    position: absolute;
    top: 35%;
    left: 8%;
    font-size: $flag-size / 6;
    color: #fff;
    content: "★";
  }
}