// Denmark
&-dk {
  background:
    linear-gradient(
      to bottom,
      transparent 40%,
      #fff 40%,
      #fff 55%,
      transparent 55%,
      transparent 100%
    )
    linear-gradient(
      to right,
      transparent 30%,
      #fff 30%,
      #fff 40%,
      transparent 40%,
      transparent 100%
    )
    #c60c30;
}
// Djibouti
&-dj {
  position: relative;
  background:
    linear-gradient(
      146deg,
      #fff 25%,
      transparent 15%
    ) 0 $flag-size * 0.95
    linear-gradient(
      34deg,
      #fff 25%,
      transparent 15%
    ) 0 $flag-size * 0.95
    linear-gradient(
      to bottom,
      #6ab2e7 50%,
      #12ad2b 50%
    );

  &::before {
    position: absolute;
    top: 36%;
    left: 8%;
    font-size: $flag-size / 6;
    color: #d7141a;
    content: "★";
  }
}
// Dominica
&-dm {
  //
}
// Dominican Republic
&-do {
  //
}
