// East Timor
&-tl {
  position: relative;
  background:
    linear-gradient(
      145deg,
      #000 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      34deg,
      #000 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      155deg,
      #ffc726 30%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      25deg,
      #ffc726 30%,
      transparent 15%
    ) 0 $flag-size,
    #dc241f;
  
  &::before {
    position: absolute;
    top: 33%;
    left: 5%;
    font-size: $flag-size / 5;
    color: #fff;
    content: "★";
    transform: rotate(115deg);
  }
}
// Ecuador
&-ec {
  background:
    linear-gradient(
      to bottom,
      #fcd116 0%,
      #fcd116 50%,
      #003893 50%,
      #003893 75%,
      #ce1126 75%,
      #ce1126 100%
    );
}
// Egypt
&-eg {
  @include threePart(#ce1126, #fff, #000);

  &::before {
    @include flagSymbol("\e90a", #ffcd00, 36%, 28%, $flag-size / 4);
  }
}
// El Salvador
&-sv {
  @include threePart(#0f47af, #fff, #0f47af);
}
// Equatorial Guinea
&-gq {
  position: relative;
  background:
    linear-gradient(
      135deg,
      #0073ce 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      45deg,
      #0073ce 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #3e9a00,
      #3e9a00 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #e32118 calc(100% / 3 * 2),
      #e32118 100%,
    );
}
// Eritrea
&-er {
  background:
    linear-gradient(
      163deg,
      #e2002a 32%,
      transparent 15%
    ) 0  $flag-size / 3,
    linear-gradient(
      17deg,
      #e2002a 32%,
      transparent 15%
    ) 0  $flag-size / 3,
    linear-gradient(
      to bottom,
      #1ba221 50%,
      #3373d5 50%,
    );

  &::before {
    @include flagSymbol("\e90b", #ffc726, 5%, 20%, $flag-size / 3);
  }
}
// Estonia
&-ee {
  @include threePart(#4891d9, #000, #fff);
}
// Ethiopia
&-et {
  @include threePart(#298c08, #fecb00, #c60c30);
}
