// Gabon
&-ga {
  @include threePart(#009639, #ffd100, #003Da5);
}
// Georgia
&-ge {
  font-family: "FlagSymbols", Arial;
  font-size: $flag-height / 5;
  color: #ff0000;
  letter-spacing: $flag-width / 2;
  background:
    linear-gradient(
      to bottom,
      transparent 40%,
      #ff0000 40%,
      #ff0000 60%,
      transparent 60%
    ),
    linear-gradient(
      to right,
      transparent 44%,
      #ff0000 44%,
      #ff0000 56%,
      transparent 56%
    )
    #fff;

  &::before {
    position: absolute;
    left: $flag-width / 8;
    line-height: $flag-height / 2.5;
    content: "\e917 \e917";
  }

  &::after {
    position: absolute;
    top: $flag-width / 2.1;
    left: $flag-width / 8;
    content: "\e917 \e917";
  }
}
// Germany
&-de {
  @include threePart(#000, #d00, #ffce00);
}
// Ghana
&-gh {
  @include threePart(#ce1126, #fcd116, #006b3f);
  
  &::before {
    position: absolute;
    top: 30%;
    left: 35%;
    font-size: $flag-size / 4;
    color: #000;
    content: "★";
  }
}
// Greece
&-gr {
  position: relative;
  background-image:
    repeating-linear-gradient(
      to bottom,
      #0d5eaf,
      #0d5eaf calc(40px / 9),
      #fff calc(40px / 9),
      #fff calc(40px / 9 * 2)
    );
  
  &::before {
    display: block;
    width: $flag-width / 2.5;
    height: $flag-height / 1.805;
    content: "";
    background:
      linear-gradient(
        to bottom,
        transparent 42%,
        #fff 42%,
        #fff 61%,
        transparent 61%
      ),
      linear-gradient(
        to right,
        transparent 42%,
        #fff 42%,
        #fff 58%,
        transparent 5%
      )
      #0d5eaf;
  }
}
// Grenada
&-gd {
  background:
    linear-gradient(
      150deg,
      #007a5e 25%,
      transparent 15%
    ) 0 $flag-size / 4.35,
    linear-gradient(
      30deg,
      #007a5e 25%,
      transparent 15%
    ) 0 $flag-size / 4.35,
    linear-gradient(
      -150deg,
      #007a5e 25%,
      transparent 15%
    ) 0 $flag-size / 4.35,
    linear-gradient(
      -30deg,
      #007a5e 25%,
      transparent 15%
    ) 0 $flag-size / 4.35,
    #fed100;

  border-top: $flag-size / 10 solid #d21034;
  border-right: $flag-size / 10 solid #d21034;
  border-bottom: $flag-size / 10 solid #d21034;
  border-left: $flag-size / 10 solid #d21034;

  &::before {
    background:
      radial-gradient(
        $flag-size / 3 at 50% 50%,
        #fed100 0,
        #fed100 30%,
        transparent 30%,
        transparent 100%
      );

    @include flagSymbol("\e924", #bc002d, 27%, 20%, $flag-size / 3.5);
  }  
}
// Guatemala
&-gt {
  @include threePart(#4997d0, #fff, #4997d0, to right);

  &::before {
    @include flagBase64Symbol($emblem-gt, 37%, 30%, $flag-width / 4, $flag-width / 4);
  }
}
// Guinea
&-gn {
  @include threePart(#ce1126, #fcd116, #009460, to right);
}
// Guinea-Bissau
&-gw {
  position: relative;
  background:
    linear-gradient(to right, #ce1126 35%, transparent 35%),
    linear-gradient(to bottom, #fcd116 50%, #009e49 50%);

  &::before {
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: $flag-size / 4;
    color: #000;
    content: "★";
  }
}
// Guyana
&-gy {
  background:
    linear-gradient(149deg, #ce1126 24%, transparent 15%) 0 $flag-size / 3,
    linear-gradient(31deg, #ce1126 24%, transparent 15%) 0  $flag-size / 3,
    linear-gradient(149deg, #000 26%, transparent 15%) 0  $flag-size / 3,
    linear-gradient(31deg, #000 26%, transparent 15%) 0  $flag-size / 3,
    linear-gradient(160deg, #fcd116 32%, transparent 15%) 0  $flag-size / 3,
    linear-gradient(20deg, #fcd116 32%, transparent 15%) 0  $flag-size / 3,
    linear-gradient(161deg, #fff 34%, transparent 15%) 0  $flag-size / 3,
    linear-gradient(19deg, #fff 34%, transparent 15%) 0  $flag-size / 3,
    #009e49;
}
