// Georgia
&-ge {
  font-size: calc($flag-height / 3);
  color: #ff0000;
  letter-spacing: calc($flag-width / 2);
  background:
    linear-gradient(
      to bottom,
      transparent 40%,
      #ff0000 40%,
      #ff0000 60%,
      transparent 60%
    ),
    linear-gradient(
      to right,
      transparent 44%,
      #ff0000 44%,
      #ff0000 56%,
      transparent 56%
    )
    #fff;

  &::before {
    position: absolute;
    top: - calc($flag-height / 30);
    left: calc($flag-width / 6);
    line-height: calc($flag-height / 1.9);
    content: "᛭  ᛭";
  }

  &::after {
    position: absolute;
    top: - calc($flag-height / 30);
    left: calc($flag-width / 1.5);
    line-height: calc($flag-height / 1.9);
    content: "᛭  ᛭";
  }
}