// Jamaica
&-jm {
  background:
    linear-gradient(146deg, #009b3a 20%, transparent 15%) $flag-width / 2 -$flag-width,
    linear-gradient(-146deg, #009b3a 20%, transparent 15%) $flag-width / 2 -$flag-width,
    linear-gradient(-34deg, #009b3a 20%, transparent 15%) $flag-width / 2 -$flag-width,
    linear-gradient(34deg, #009b3a 20%, transparent 15%) $flag-width / 2 -$flag-width,
    linear-gradient(146deg, #000 20%, transparent 15%) 0 $flag-width / 3,
    linear-gradient(34deg, #000 20%, transparent 15%) 0 $flag-width / 3,
    linear-gradient(-146deg, #000 20%, transparent 15%) -$flag-width $flag-width / 3,
    linear-gradient(-34deg, #000 20%, transparent 15%) -$flag-width $flag-width / 3,
    #fed100;
}
// Japan
&-jp {
  background:
    radial-gradient(
      $flag-size / 1.5 at 50% 50%,
      #bc002d 0,
      #bc002d 30%,
      transparent 30%,
      transparent 100%
    )
    #fff;
}
// Jordan
&-jo {
  position: relative;
  background:
    linear-gradient(
      146deg,
      #da291c 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      34deg,
      #da291c 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #000,
      #000 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #009639 calc(100% / 3 * 2),
      #009639 100%
    );

  &::before {
    @include flagSymbol("\e940", #fff, 10%, 40%, $flag-height / 4.25);
  }
}
