// Jamaica
&-jm {
  background:
    linear-gradient(146deg, #009b3a 20%, transparent 15%) 87px -114px,
    linear-gradient(-146deg, #009b3a 20%, transparent 15%) 88px -114px,
    linear-gradient(-34deg, #009b3a 20%, transparent 15%) 88px 114px,
    linear-gradient(34deg, #009b3a 20%, transparent 15%) 87px 114px,
    linear-gradient(146deg, #000 20%, transparent 15%) 0 -57px,
    linear-gradient(34deg, #000 20%, transparent 15%) 0 -57px,
    linear-gradient(-146deg, #000 20%, transparent 15%) 175px -57px,
    linear-gradient(-34deg, #000 20%, transparent 15%) 175px -57px,
    #fed100;
}
// Japan
&-jp {
  background:
    radial-gradient(
      $flag-size / 1.5 at 50% 50%,
      #bc002d 0,
      #bc002d 30%,
      transparent 30%,
      transparent 100%
    )
    #fff;
}
&-je {
  background:
  linear-gradient(
    145deg,
    transparent 45%,
    transparent 45%,
    #ff0016 45%,
    #ff0016 45%,
    #ff0016 55%,
    transparent 55%,
    transparent 55%
  ),
  linear-gradient(
    35deg,
    transparent 45%,
    transparent 45%,
    #ff0016 45%,
    #ff0016 45%,
    #ff0016 55%,
    transparent 55%,
    transparent 55%
  );
}
// Jordan
&-jo {
  position: relative;
  background:
    linear-gradient(
      146deg,
      #da291c 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      34deg,
      #da291c 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #000,
      #000 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #009639 calc(100% / 3 * 2),
      #009639 100%
    );

  &::before {
    position: absolute;
    top: 32%;
    left: 10%;
    font-size: $flag-size / 5;
    color: #fff;
    content: "✷";
    transform: rotate(12.5deg);
  }
}
