// Kazakhstan
&-kz {
  background: #00aec7;

  &::before {
    @include flagSymbol("\e927", #fec50c, 0, 0, $flag-height);
  }

  &::after {
    @include flagSymbol("\e926", #fec50c, 30%, 15%, $flag-height / 1.5);
  }
}
// Kenya
&-ke {
  background:
    linear-gradient(
      to bottom,
      #000 30%,
      #fff 30%,
      #fff 35%,
      #b00 35%,
      #b00 65%,
      #fff 65%,
      #fff 70%,
      #060 70%
    );
}
// Kiribati
&-ki {
  background: #ce1126;

  &::before {
    @include flagBase64Symbol($emblem-ki_top, 35%, 20%, $flag-width / 3.5, $flag-height / 1.75);
  }

  &::after {
    @include flagBase64Symbol($emblem-ki_bottom, -15%, 50%, $flag-width * 1.30, $flag-height / 2);
  }
}
// Kuwait
&-kw {
  background: #fff;

  &::before {
    display: block;
    width: $flag-width;
    height: $flag-height;
    content: "";
    border-top: $flag-width / 5 solid #007a3d;
    border-right: 0;
    border-bottom: $flag-width / 5 solid #ce1126;
    border-left: $flag-width / 4 solid #000;
  }
}
// Kyrgyzstan
&-kg {
  background: #ef3340;

  &::before {
    @include flagSymbol("\e921", #feff00, 33%, 20%, $flag-size / 3);
  }
}
