// Kuwait
&-kw {
  background: #fff;

  &::before {
    display: block;
    width: $flag-width;
    height: $flag-height;
    content: "";
    border-top: calc($flag-width / 5) solid #007a3d;
    border-right: 0;
    border-bottom: calc($flag-width / 5) solid #ce1126;
    border-left: calc($flag-width / 4) solid #000;
  }
}
