// Kuwait
&-kw {
  background: #fff;

  &::before {
    display: block;
    width: $flag-width;
    height: $flag-height;
    content: "";
    border-top: $flag-width / 5 solid #007a3d;
    border-right: 0;
    border-bottom: $flag-width / 5 solid #ce1126;
    border-left: $flag-width / 4 solid #000;
  }
}
