// Liberia
&-lr {
  position: relative;
  background:
    repeating-linear-gradient(
      to bottom,
      #b22234,
      #b22234 calc($flag-height / 12),
      #fff calc($flag-height / 12),
      #fff calc($flag-height / 6.5)
    );

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: calc($flag-size / 3.9);
    height: calc($flag-size / 3.9);
    padding-top: calc($flag-size / 18);
    font-size: calc($flag-size / 8);
    color: #fff;
    text-align: center;
    content: "★";
    background: #0039a6;
  }
}
