// Macao
&-mo {
  background: #00785e;

  &::before {
    @include flagSymbol("\e91e", #fff, 33%, 20%, $motion-flag-size / 3);
  }
}
// Macedonia
&-mk {
  background: #d20000;

  &::before {
    @include flagSymbol("\e932", #ffe600, 1%, 0, $motion-flag-size / 1.4);
  }
}
// Madagascar
&-mg {
  background:
    linear-gradient(
      to right,
      #fff 30%,
      transparent 30%
    )
    linear-gradient(
      to bottom,
      #fc3d32 50%,
      #007e3a 50%
    );
}
// Malawi
&-mw {
  @include threePart(#000, #f41408, #21873b);
}
// Malaysia
&-my {
  background:
    repeating-linear-gradient(
      to bottom,
      #b22234,
      #b22234 $motion-flag-height / 14,
      #fff $motion-flag-height / 14,
      #fff $motion-flag-height / 7
    );
}
// Maldives
&-mv {
  background:
    radial-gradient(
      $motion-flag-width / 3.8 at 55% 50%,
      #007e3a 0,
      #007e3a 35%,
      transparent 35%,
      transparent 100%
    )
    radial-gradient(
      $motion-flag-width / 3 at 50% 50%,
      #fff 0,
      #fff 35%,
      transparent 35%,
      transparent 100%
    )
    #007e3a;
  border: $motion-flag-width / 6 solid #d21034;
}
// Mali
&-ml {
  @include threePart(#14b53a, #fcd116, #ce1126, to right);
}
// Malta
&-mt {
  @include twoPart(#ce0000, #fff, to right);
}
// Marshall Islands
&-mh {
  background-color: #003087;
  background-image:
    linear-gradient(
      -17deg,
      #003087 0,
      #003087 30%,
      transparent 26%
    )
    linear-gradient(
      -22deg,
      #fff 0,
      #fff 38%,
      transparent 28%
    )
    linear-gradient(
      -26deg,
      #e57200 0,
      #e57200 45%,
      transparent 45%
    );

  &::before {
    @include flagSymbol("\e91c", #fff, 10%, 10%, $motion-flag-height / 3);
  }
}
// Martinique
&-mq {
  background:
    linear-gradient(
      to bottom,
      transparent 43%,
      #fff 43%,
      #fff 57%,
      transparent 57%
    )
    linear-gradient(
      to right,
      transparent 45%,
      #fff 45%,
      #fff 55%,
      transparent 55%
    )
    #0077c8;
}
// Mauritania
&-mr {
  position: relative;
  background:
    radial-gradient(
      $motion-flag-width / 3 * 2 at 50% 30%,
      #006233 0,
      #006233 35%,
      transparent 35%,
      transparent 100%
    )
    radial-gradient(
      $motion-flag-width / 3 * 2 at 50% 40%,
      #ffc400 0,
      #ffc400 35%,
      transparent 35%,
      transparent 100%
    )
    #006233;
    
  &::before {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $motion-flag-width / 5;
    color: #ffc400;
    text-align: center;
    content: "★";
  }
}
// Mauritius
&-mu {
  background:
    linear-gradient(
      to bottom,
      #ea2839 25%,
      #1a206d 25%,
      #1a206d 50%,
      #ffd500 50%,
      #ffd500 75%,
      #00a551 75%
    );
}
// Mayotte
&-yt {
  //
}
// Mexico
&-mx {
  @include threePart(#006847, #fff, #ce1126, to right);
}
// Micronesia
&-fm {
  background: #6797d6;
}
// Moldova
&-md {
  @include threePart(#0046ae, #ffd200, #cc092f, to right);
}
// Monaco
&-mc {
  @include twoPart(#ce1126,#fff);
}
// Mongolia
&-mn {
  @include threePart(#c4272f, #015197, #c4272f, to right);
  
  &::before {
    @include flagSymbol("\e91d", #f9cf02, 8%, 25%, $motion-flag-size / 3);
  }
}
// Montenegro
&-me {
  background: #ef3340;
  border: $motion-flag-width / 20 solid #daaa00;
}
// Montserrat
&-ms {
  background: #0018a8;
}
// Morocco
&-ma {
  background: #c1272d;

  &::before {
    @include flagSymbol("\e91b", #306233, 33%, 20%, $motion-flag-size / 3);
  }
}
// Mozambique
&-mz {
  background:
    linear-gradient(
      146deg,
      #d21034 25%,
      transparent 15%
    ) 0 $motion-flag-width / 3.15
    linear-gradient(
      34deg,
      #d21034 25%,
      transparent 15%
    ) 0 $motion-flag-width / 3.15
    linear-gradient(
      to bottom,
      #007168 30%,
      #fff 30%,
      #fff 35%,
      #000 35%,
      #000 65%,
      #fff 65%,
      #fff 70%,
      #fce100 70%
    );

  &::before {
    position: absolute;
    top: 33%;
    left: 10%;
    font-size: $motion-flag-size / 6;
    color: #fce100;
    content: "★";
  }
}
// Myanmar
&-mm {
  @include threePart(#fecb00, #34b233, #ea2839);
  
  &::before {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $motion-flag-size / 3;
    color: #fff;
    text-align: center;
    content: "★";
  }
}
