// Madagascar
&-mg {
  background:
    linear-gradient(
      to right,
      #fff 30%,
      transparent 30%
    ),
    linear-gradient(
      to bottom,
      #fc3d32 50%,
      #007e3a 50%
    );
}
// Malawi
&-mw {
  @include threePart(#000, #f41408, #21873b);
}
// Malaysia
&-my {
  background:
    repeating-linear-gradient(
      to bottom,
      #b22234,
      #b22234 $flag-height / 13,
      #fff $flag-height / 13,
      #fff $flag-height / 7
    );

  &::before {
    @include flagSymbol("\e932", #fedf00, 27%, 20%, $flag-size / 8);
  }

  &::after {
    display: block;
    width: $flag-width / 2;
    height: $flag-height / 1.75;
    content: "";
    background:
      radial-gradient(
        $flag-width / 3.5 at 55% 50%,
        #0039a6 0,
        #0039a6 35%,
        transparent 35%,
        transparent 100%
      ),
      radial-gradient(
        $flag-width / 3 at 50% 50%,
        #fedf00 0,
        #fedf00 35%,
        transparent 35%,
        transparent 100%
      )
      #0039a6;
  }

}
// Maldives
&-mv {
  width: $flag-width - $flag-size / 5;
  height: $flag-height - $flag-size / 5;
  background:
    radial-gradient(
      $flag-width / 3.8 at 55% 50%,
      #007e3a 0,
      #007e3a 35%,
      transparent 35%,
      transparent 100%
    ),
    radial-gradient(
      $flag-width / 3 at 50% 50%,
      #fff 0,
      #fff 35%,
      transparent 35%,
      transparent 100%
    )
    #007e3a;
  border-top: $flag-size / 10 solid #d21034;
  border-right: $flag-size / 10 solid #d21034;
  border-bottom: $flag-size / 10 solid #d21034;
  border-left: $flag-size / 10 solid #d21034;
}
// Mali
&-ml {
  @include threePart(#14b53a, #fcd116, #ce1126, to right);
}
// Malta
&-mt {
  @include twoPart(#fff, #ce0000, to right);

  &::after {
    @include flagBase64Symbol($emblem-mt, 10%, 10%, $flag-width / 6, $flag-height / 4);
  }
}
// Marshall Islands
&-mh {
  background-color: #003087;
  background-image:
    linear-gradient(
      -17deg,
      #003087 0,
      #003087 30%,
      transparent 26%
    ),
    linear-gradient(
      -22deg,
      #fff 0,
      #fff 38%,
      transparent 28%
    ),
    linear-gradient(
      -26deg,
      #e57200 0,
      #e57200 45%,
      transparent 45%
    );

  &::before {
    @include flagSymbol("\e92c", #fff, 10%, 10%, $flag-height / 3);
  }
}
// Mauritania
&-mr {
  position: relative;
  background:
    radial-gradient(
      $flag-width / 3 * 2 at 50% 30%,
      #006233 0,
      #006233 35%,
      transparent 35%,
      transparent 100%
    ),
    radial-gradient(
      $flag-width / 3 * 2 at 50% 40%,
      #ffc400 0,
      #ffc400 35%,
      transparent 35%,
      transparent 100%
    )
    #006233;
    
  &::before {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-width / 5;
    color: #ffc400;
    text-align: center;
    content: "★";
  }
}
// Mauritius
&-mu {
  background:
    linear-gradient(
      to bottom,
      #ea2839 25%,
      #1a206d 25%,
      #1a206d 50%,
      #ffd500 50%,
      #ffd500 75%,
      #00a551 75%
    );
}
// Mexico
&-mx {
  @include threePart(#006847, #fff, #ce1126, to right);

  &::after {
    @include flagBase64Symbol($emblem-mx, 37%, 30%, $flag-width / 4, $flag-height / 3);
  }  
}
// Micronesia
&-fm {
  background: #6797d6;
  
  &::before {
    @include flagSymbol("\e916", #fff, 18%, 13%, $flag-size / 2);
  }
}
// Moldova
&-md {
  @include threePart(#0046ae, #ffd200, #cc092f, to right);
}
// Monaco
&-mc {
  @include twoPart(#ce1126,#fff);
}
// Mongolia
&-mn {
  @include threePart(#c4272f, #015197, #c4272f, to right);
  
  &::before {
    @include flagSymbol("\e92e", #f9cf02, 8%, 25%, $flag-size / 3);
  }
}
// Montenegro
&-me {
  width: $flag-width - $flag-size / 10;
  height: $flag-height - $flag-size / 10;
  background: #ef3340;
  border: $flag-size / 20 solid #daaa00;

  &::after {
    @include flagBase64Symbol($emblem-me, 32%, 11%, $flag-width / 3, $flag-height / 1.7);
  }
}
// Morocco
&-ma {
  background: #c1272d;

  &::before {
    @include flagSymbol("\e91b", #3f8143, 33%, 20%, $flag-size / 3);
  }
}
// Mozambique
&-mz {
  background:
    linear-gradient(
      146deg,
      #d21034 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      34deg,
      #d21034 25%,
      transparent 15%
    ) 0 $flag-width / 3,
    linear-gradient(
      to bottom,
      #007168 30%,
      #fff 30%,
      #fff 35%,
      #000 35%,
      #000 65%,
      #fff 65%,
      #fff 70%,
      #fce100 70%
    );

  &::before {
    position: absolute;
    top: 33%;
    left: 10%;
    font-size: $flag-size / 6;
    color: #fce100;
    content: "★";
  }
}
// Myanmar
&-mm {
  @include threePart(#fecb00, #34b233, #ea2839);
  
  &::before {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-size / 3;
    color: #fff;
    text-align: center;
    content: "★";
  }
}
