// Namibia
&-na {
  background:
    linear-gradient(
      145deg,
      #003580 40%,
      #fff 40%,
      #fff 43%,
      #d21034 43%,
      #d21034 57%,
      #fff 57%,
      #fff 60%,
      #009543
      60%
    );

  &::before {
    @include flagSymbol("\e933", #ffc61e, 5%, 10%, $flag-height / 3);
  }
}
// Nauru
&-nr {
  position: relative;
  background:
    linear-gradient(
      to bottom,
      transparent 45%,
      #ffc61e 45%,
      #ffc61e 55%,
      transparent 55%
    )
    #002b7f;

  &::before {
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: $flag-size / 5;
    color: #fff;
    content: "✹";
  }
}
// Nepal
&-np {
  background:
    linear-gradient(40deg,#dc143c 30%,transparent 0) $flag-size / 30 $flag-size * -0.03,
    linear-gradient(33deg,#dc143c 25%,transparent 0) $flag-size / 30 $flag-size / 0.97,
    linear-gradient(40deg,#003893 36%,transparent 0),
    linear-gradient(33deg,#003893 30%,transparent 0) 0 $flag-size / 0.96;

  &::before {
    @include flagSymbol("\e937", #fff, 5%, 20%, $flag-height / 3);
  }
  
  &::after {
    @include flagSymbol("\e936", #fff, 5%, 60%, $flag-height / 3);
  }  
}
// Netherlands
&-nl {
  @include threePart(#ae1c28, #fff, #21468b);
}
// New Zealand
&-nz {
  background: #0018a8;

  &::before {
    @include flagBase64Symbol($emblem-union-jack, 0, 0, $flag-width / 1.75, $flag-width / 3.5);
  }

  &::after {
    @include flagSymbol("\e93d", #ed1c27, 50%, 10%, $flag-width / 2);
    text-shadow: 0 0 $flag-width / 80 #fff;
  }
  
}
// Nicaragua
&-ni {
  @include threePart(#0067c6, #fff, #0067c6);
}
// Niger
&-ne {
  background:
    radial-gradient(
      $flag-size / 4 at 50% 50%,
      #e05206 0,
      #e05206 35%,
      transparent 35%,
      transparent 100%
    ),
    linear-gradient(
      to bottom,
      #e05206 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #0db02b calc(100% / 3 * 2)
    );
}
// Nigeria
&-ng {
  @include threePart(#008751, #fff, #008751, to right);
}
// North Korea
&-kp {
  background:
    linear-gradient(
      to bottom,
      #024fa2 20%,
      #fff 20%,
      #fff 25%,
      #ed1c27 25%,
      #ed1c27 75%,
      #fff 75%,
      #fff 80%,
      #024fa2 80%
    );

  &::before {
    @include flagSymbol("\e924", #fff, 5%, 27%, $flag-size / 3.5);
  }
}
// North Macedonia
&-mk {
  background: #d20000;

  &::before {
    @include flagSymbol("\e92d", #ffe600, -1%, -8%, $flag-size / 1.3);
  }
}
// Norway
&-no {
  background:
    linear-gradient(
      to bottom,
      transparent 43%,
      #002868 43%,
      #002868 54%,
      transparent 54%
    ),
    linear-gradient(
      to right,
      transparent 28%,
      #002868 28%,
      #002868 37%,
      transparent 37%
    ),
    linear-gradient(
      to right,
      transparent 25%,
      #fff 25%,
      #fff 40%,
      transparent 40%
    ),
    linear-gradient(
      to bottom,
      transparent 38%,
      #fff 38%,
      #fff 59%,
      transparent 59%
    )
    #ef2b2d;
}

// // Niue
// &-nu {
//   background: #fac914;
// }
// // Norfolk Island 
// &-nf{
//   @include threePart(#007934, #fff, #007934, to right);

//   &::before {
//     @include flagSymbol("\e924", #007934, 40%, 25%, $flag-height / 2);
//   }
// }
// // Northern Mariana Islands
// &-mp {
//   background: #0071bc;
// }
// // New Caledonia
// &-nc {
//   @include threePart(#0035ad, #ed4135, #009543);
// }