// Pakistan
&-pk {
  @include threePart(#fff, #115740, #115740, to right);

  &::before {
    position: absolute;
    top: 20%;
    right: 0;
    left: 40%;
    width: $flag-size / 3;
    height: $flag-size / 3;
    margin-right: auto;
    margin-left: auto;
    content: "";
    background: transparent;
    border-radius: 50%;
    box-shadow: -$flag-size / 20 $flag-size / 30 0 $flag-size / 60 #fff;
  }

  &::after {
    position: absolute;
    top: 25%;
    left: 70%;
    font-size: $flag-size / 8;
    color: #fff;
    content: "★";
    transform: rotate(15deg);
  }

}
// Palau
&-pw {
  background:
    radial-gradient(
      $flag-size / 2 at 40% 50%,
      #ffd100,
      #ffd100 35%,
      transparent 35%,
      transparent 100%
    )
    #0085ca;
}
// Panama
&-pa {
  position: relative;
  background:
    linear-gradient(
      90deg,
      #005293 50%,
      transparent 50%
    ),
    linear-gradient(
      #d21034 50%,
      transparent 50%
    ),
    #fff;

  &::before,
  &::after {
    position: absolute;
    width: $flag-size / 3;
    height: $flag-size / 4;
    padding-top: 8%;
    padding-left: 17%;
    font-size: $flag-size / 6;
    content: "★";
    background: #fff;
  }
  
  &::before {
    color: #005293;
  }
  
  &::after {
    right: 0;
    bottom: 0;
    color: #d21034;
  }
}
// Papua New Guinea
&-pg {
  background:
    linear-gradient(
      33deg,
      #000 50%,
      #c8102e 50%
    );
}
// Paraguay
&-py {
  @include threePart(#ef3340, #fff, #0033a0);
}
// Peru
&-pe {
  @include threePart(#d91023, #fff, #d91023, to right);
}
// Philippines
&-ph {
  background:
    linear-gradient(
      146deg,
      #fff 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      34deg,
      #fff 25%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #11457e 50%,
      #d7141a 50%
    );

  &::before {
    @include flagSymbol("\e929", #ffd100, 0, 20%, $flag-size / 2.5);
  }
}
// Poland
&-pl {
  @include twoPart(#fff, #dc143c);
}
// Portugal
&-pt {
  @include threePart(#006600, #ff0000, #ff0000, to right);
}

// // Puerto Rico
// &-pr {
//   position: relative;
//   background:
//     linear-gradient(
//       146deg,
//       #0333ec 25%,
//       transparent 15%
//     ) 0 $flag-width / 3,
//     linear-gradient(
//       34deg,
//       #0333ec 25%,
//       transparent 15%
//     ) 0 $flag-width / 3,
//     linear-gradient(
//       to bottom,
//       #e40007 20%,
//       #fff 20%,
//       #fff 40%,
//       #e40007 40%,
//       #e40007 60%,
//       #fff 60%,
//       #fff 80%,
//       #e40007 80%,
//       #e40007 100%
//     );
  
//   &::before {
//     position: absolute;
//     top: 35%;
//     left: 8%;
//     font-size: $flag-size / 6;
//     color: #fff;
//     content: "★";
//   }
// }

// // Pitcairn
// &-pn {
//  //
// }
