// Qatar
&-qa {
  position: relative;
  background:
    linear-gradient(
      90deg,
      #fff,
      #fff 26%,
      #8d1b3d 25%,
      #8d1b3d 100%
    );

  &::before {
    position: absolute;
    top: 0;
    left: 25%;
    width: $flag-height / 9;
    height: 100%;
    content: "";
    background:
      linear-gradient(
        155deg,
        #fff 32%,
        transparent 31%
      ) 0 $flag-height / 18,
      linear-gradient(
        25deg,
        #fff 32%,
        transparent 31%
      ) 0 $flag-width / 9;
    background-size: $flag-height / 9 $flag-height / 9;
  }
}
