// Qatar
&-qa {
  position: relative;
  background:
    linear-gradient(
      90deg,
      #fff,
      #fff 26%,
      #8d1b3d 25%,
      #8d1b3d 100%
    );

  &::before {
    position: absolute;
    top: 0;
    left: 26%;
    width: calc($flag-height / 9);
    height: 100%;
    content: "";
    background:
      linear-gradient(
        155deg,
        #fff 32%,
        transparent 32%
      ) 0 calc($flag-height / 18.1),
      linear-gradient(
        25deg,
        #fff 32%,
        transparent 32%
      ) 0 calc($flag-width / 8.9);
    background-size: calc($flag-height / 9) calc($flag-height / 9);
  }
}
