// Saint Kitts and Nevis
&-kn {
  position: relative;
  background: linear-gradient(145deg, #1eb53a 39%, #fcd116 39%, #fcd116 41%, #000 41%, #000 59%,  #fcd116 59%, #fcd116 61%, #c70000 61%);

  &::after {
    position: absolute;
    top: 25%;
    left: 40%;
    display: block;
    width: $flag-height / 5;
    font-size: $flag-width / 6;
    color: #fff;
    content: "★  ★";
    transform: rotate(55deg);
  }
}
// Saint Lucia
&-lc {
  background:
    linear-gradient(
      -45deg,
      #fcd116 14%,
      transparent 0
    ) $flag-width / 2 $flag-width * -0.05,
    linear-gradient(
      45deg,
      #fcd116 14%,
      transparent 0
    ) $flag-width / 2 $flag-width * -0.05,
    linear-gradient(
      -65deg,
      #000 16%,
      transparent 0
    ) $flag-width / 2 $flag-width * -0.05,
    linear-gradient(
      65deg,
      #000 16%,
      transparent 0
    ) $flag-width / 2 $flag-width * -0.05,
    linear-gradient(
      -65deg,
      #fff 18%,
      transparent 0
    ) $flag-width / 2 $flag-width * -0.05,
    linear-gradient(
      65deg,
      #fff 18%,
      transparent 0
    ) $flag-width / 2 $flag-width * -0.05,
    #0077c8;
}
// Saint Vincent and the Grenadines
&-vc {
  background:
    linear-gradient(
      to right,
      #0058aa,
      #0058aa 25%,
      #f4f100 25%,
      #f4f100 75%,
      #199a00 75%,
      #199a00 100%
    );

  &::before {
    @include flagSymbol("\e948", #199a00, 7%, 5%, $flag-size / 1.55);
  }
}
// Samoa
&-ws {
  background: #ef3340;

  &::before {
    padding: $flag-size / 20 $flag-size / 12;
    background-color: #002868;

    @include flagSymbol("\e93c", #fff, 0, 0, $flag-size / 4);
  }
}
// San Marino
&-sm {
  @include twoPart(#fff, #19b6ef);

  &::after {
    @include flagBase64Symbol($emblem-sm, 30%, 20%, 20px, 20px);
  }
}
// Sao Tome and Principe
&-st {
  position: relative;
  background:
    linear-gradient(
      135deg,
      #da291c 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      45deg,
      #da291c 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #009639,
      #009639 calc(100% / 3),
      #ffd100 calc(100% / 3),
      #ffd100 calc(100% / 3 * 2),
      #009639 calc(100% / 3 * 2),
      #009639 100%
    );

  &::before {
    position: absolute;
    top: 38%;
    left: 45%;
    font-size: $flag-size / 6;
    color: #000;
    content: "★ ★";
  }
}
// Saudi Arabia
&-sa {
  background: #199d00;

  &::before {
    @include flagSymbol("\e93e", #fff, 30%, 25%, $flag-size / 2.5);
  }
}
// Senegal
&-sn {
  position: relative;

  @include threePart(#00853f, #fdef42, #e31b23, to right);

  &::before {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-size / 4;
    color: #00853f;
    text-align: center;
    content: "★";
  }
}
// Serbia
&-rs {
  @include threePart(#c6363c, #0c4076, #fff);
}
// Seychelles
&-sc {
  background:
    linear-gradient(170deg, transparent 79%, #007a3d 55%),
    linear-gradient(160deg, transparent 65%, #fff 45%),
    linear-gradient(141deg, transparent 45%, #d62828 45%),
    linear-gradient(120deg, transparent 27%, #fcd856 25%),
    #003f87;
}
// Sierra Leone
&-sl {
  @include threePart(#1eb53a, #fff, #0072c6);
}
// Singapore
&-sg {
  @include twoPart(#dc143c, #fff);

  &::before {
    @include flagSymbol("\e93f", #fff, 5%, 10%, $flag-height / 3);
  }
}
// Slovakia
&-sk {
  @include threePart(#fff, #0b4ea2, #ee1c25);
  
  &::before {
    @include flagBase64Symbol($emblem-sk, 10%, 25%, $flag-size / 4, $flag-size / 3.2);
  }
}
// Slovenia
&-si {
  @include threePart(#fff, #0b4ea2, #ee1c25);

  &::before {
    @include flagBase64Symbol($emblem-si, 10%, 25%, $flag-size / 6, $flag-size / 5.3);
  }
}
// Solomon Islands
&-sb {
  background: linear-gradient(147deg, #0639ac 48%, #f8c911 48%, #f8c911 52%, #164823 52%);
}
// Somalia
&-so {
  position: relative;
  background: #abcae9;

  &::before {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-size / 4;
    color: #fff;
    text-align: center;
    content: "★";
  }
}
// South Africa
&-za {
  //
}
// South Korea
&-kr {
  &::before {
    @include flagSymbol("\e925", #000, 26%, 15%, $flag-size / 2);
  }
  
  &::after {
    @include flagBase64Symbol($emblem-kr, 38%, 32%, $flag-size / 4, $flag-size / 4);
  }
}
// South Sudan
&-ss {
  position: relative;
  background:
    linear-gradient(
      146deg,
      #0f47af 25%,
      transparent 15%
    ) 0 $flag-width / 3.15,
    linear-gradient(
      34deg,
      #0f47af 25%,
      transparent 15%
    ) 0 $flag-width / 3.15,
    linear-gradient(
      to bottom,
      #000 30%,
      #fff 30%,
      #fff 35%,
      #da121a 35%,
      #da121a 65%,
      #fff 65%,
      #fff 70%,
      #078930 70%
    );

  &::before {
    position: absolute;
    top: 33%;
    left: 10%;
    font-size: $flag-size / 6;
    color: #fcdd09;
    content: "★";
  }
}
// Spain
&-es {
  background:
    linear-gradient(
      180deg,
      #ef3340,
      #ef3340 25%,
      #ffd100 25%,
      #ffd100 75%,
      #ef3340 75%,
      #ef3340 100%
    );

  &::after {
    @include flagBase64Symbol($emblem-es, 10%, 27%, $flag-size / 3.5, $flag-size / 3.4);
  }
}
// Sri Lanka
&-lk {
  //

  &::before {
    @include flagSymbol("\e929", #ff0, 27%, 25%, $flag-height / 2);
  }
}
// State of Palestie
&-ps {
  position: relative;
  background:
    linear-gradient(
      135deg,
      #f30007 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      45deg,
      #f30007 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #000,
      #000 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #0e692f	calc(100% / 3 * 2),
      #0e692f	 100%,
    );
}
// Sudan
&-sd {
  background:
    linear-gradient(
      148deg,
      #007229 25%,
      transparent 0
    ) 0 $flag-size,
    linear-gradient(
      33deg,
      #007229 25%,
      transparent 0
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #d21034 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #000 calc(100% / 3 * 2)
    );
}
// Suriname
&-sr {
  position: relative;
  background:
    linear-gradient(
      to bottom,
      #377e3f 20%,
      #fff 20%,
      #fff 30%,
      #b40a2d 30%,
      #b40a2d 70%,
      #fff 70%,
      #fff 80%,
      #377e3f 80%
    );

  &::before {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 12px;
    color: #ecc81d;
    text-align: center;
    content: "★";
  }
}
// Eswatini
&-sz {
  background: linear-gradient(to bottom, #3e5eb9 20%, #ffd900 20%, #ffd900 25%, #b10c0c 25%, #b10c0c 75%, #ffd900 75%, #ffd900 80%, #3e5eb9 80%);

  &::before {
    @include flagBase64Symbol($emblem-sz, 10%, 29%, $flag-width / 1.25, $flag-width / 3.5);
  }   
}
// Sweden
&-se {
  background:
    linear-gradient(to right, transparent 30%, #fecc00 30%, #fecc00 45%, transparent 0),
    linear-gradient(to bottom, transparent 38%, #fecc00 38%, #fecc00 59%, transparent 0),
    #006aa7;
}
// Switzerland
&-ch {
  background:
    linear-gradient(to bottom, transparent calc(100% / 3), #fff calc(100% / 3), #fff calc(100% / 3 * 2), transparent 0),
    linear-gradient(to right, transparent calc(100% / 3), #fff calc(100% / 3), #fff calc(100% / 3 * 2), transparent 0),
    #da291c;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: $flag-size / 3 $flag-size / 3;
}
// Syria
&-sy {
  @include threePart(#ce1126, #fff, #000);
}

// // Saint Martin (French part)
// &-mf {
//   //
// }
// // Saint Pierre and Miquelon
// &-pm {
//   //
// }
// // Saint Barthélemy
// &-bl {
//   //
// }
// // Saint Helena Ascension and Tristan da Cunha
// &-sh {
//   //
// }
// // South Georgia and the South Sandwich Islands
// &-gs {
//   //
// }

// // Sint Maarten (Dutch part)
// &-sx {
//   //
// }
// // Svalbard and Jan Mayen
// &-sj {
//   background:
//     linear-gradient(
//       to bottom,
//       transparent 43%,
//       #002868 43%,
//       #002868 54%,
//       transparent 54%
//     ),
//     linear-gradient(
//       to right,
//       transparent 28%,
//       #002868 28%,
//       #002868 37%,
//       transparent 37%
//     ),
//     linear-gradient(
//       to right,
//       transparent 25%,
//       #fff 25%,
//       #fff 40%,
//       transparent 40%
//     ),
//     linear-gradient(
//       to bottom,
//       transparent 38%,
//       #fff 38%,
//       #fff 59%,
//       transparent 59%
//     )
//     #ef2b2d;
// }
