// Samoa
&-ws {
  background: #ce1126;

  &::before {
    padding: calc($flag-size / 24) calc($flag-size / 12);
    background-color: #002b7f;

    @include flagSymbol("\e93c", #fff, 0, 0, calc($flag-size / 4));
  }
}
