// Somalia
&-so {
  position: relative;
  background: #abcae9;

  &::before {
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-size / 4;
    color: #fff;
    text-align: center;
    content: "★";
  }
}
