// Switzerland
&-ch {
  background:
    linear-gradient(to bottom, transparent calc(100% / 3), #fff calc(100% / 3), #fff calc(100% / 3 * 2), transparent 0),
    linear-gradient(to right, transparent calc(100% / 3), #fff calc(100% / 3), #fff calc(100% / 3 * 2), transparent 0),
    #da291c;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: $flag-size / 3 $flag-size / 3;
}
