// Tajikistan
&-tj {
  @include threePart(#e40046, #fff, #009639);
}
// Tanzania
&-tz {
  background:
    linear-gradient(
      145deg,
      #1eb53a 40%,
      #fcd116 40%,
      #fcd116 43%,
      #000 43%,
      #000 57%,
      #fcd116 57%,
      #fcd116 60%,
      #00a3dd
      60%
    );
}
// Thailand
&-th {
  background:
    linear-gradient(
      to bottom,
      #ed1c24 15%,
      #fff 15%,
      #fff 30%,
      #241d4f 30%,
      #241d4f 70%,
      #fff 70%,
      #fff 85%,
      #ed1c24 85%
    );
}
// The Bahamas
&-bs {
  background:
    linear-gradient(146deg, #000 25%, transparent 15%) 0 $flag-size,
    linear-gradient(34deg, #000 25%, transparent 15%) 0 $flag-size,
    linear-gradient(to bottom, #00a9ce, #00a9ce calc(100% / 3), #fdda24 calc(100% / 3), #fdda24 calc(100% / 3 * 2), #00a9ce calc(100% / 3 * 2), #00a9ce 100%);
}
// Congo
&-cg {
  background:
    linear-gradient(
      135deg,
      #009543 40%,
      #fbde4a 40%,
      #fbde4a 60%,
      #d21034 60%,
      #d21034 60%
    );
}
// The Gambia
&-gm {
  background:
    linear-gradient(
      to bottom,
      #ef3340 30%,
      #fff 30%,
      #fff 35%,
      #003da5 35%,
      #003da5 65%,
      #fff 65%,
      #fff 70%,
      #009639 70%
    );
}
// The Democratic Republic of Congo
&-cd {
  position: relative;
  background:
    linear-gradient(
      152deg,
      #00a3dd 40%,
      #fcd116 40%,
      #fcd116 43%,
      #d21034 43%,
      #d21034 57%,
      #fcd116 57%,
      #fcd116 60%,
      #00a3dd 60%
    );
  
  &::before {
    position: absolute;
    top: $flag-size * 0.05;
    margin-top: 0;
    margin-left: 5%;
    font-size: $flag-size / 4;
    color: #ffce00;
    content: "★";
  }
}
// Togo
&-tg {
  position: relative;
  background:
    repeating-linear-gradient(
      to bottom,
      #006a4e,
      #006a4e 20%,
      #ffce00 20%,
      #ffce00 40%
    );
  
  &::before {
    position: absolute;
    width: 35%;
    height: 45%;
    padding-top: 10%;
    font-size: $flag-size / 6;
    color: #fff;
    text-align: center;
    content: "★";
    background: #d21034;
  }
}
// Tonga
&-to {
  position: relative;
  background: #c10000;
  
  &::before {
    position: absolute;
    width: 50%;
    height: 50%;
    content: "";
    background:
      linear-gradient(
        to bottom,
        transparent calc(100% / 3),
        #c10000 calc(100% / 3),
        #c10000 calc(100% / 3 * 2),
        transparent 0
      ),
      linear-gradient(
        to right,
        transparent calc(100% / 3),
        #c10000 calc(100% / 3),
        #c10000 calc(100% / 3 * 2),
        transparent 0
      ),
      #fff;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: $flag-width / 4 $flag-width / 4;
  }
}
// Trinidad and Tobago
&-tt {
  background:
    linear-gradient(
      45deg,
      transparent 40%,
      #fff 40%,
      #fff 43%,
      #000 43%,
      #000 57%,
      #fff 57%,
      #fff 60%,
      transparent 0
    )
    #ce1126;
}
// Tunisia
&-tn {
  background: #e70013;
}
// Turkey
&-tr {
  background: #e30a17;

  &::before {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    width: $flag-size / 3;
    height: $flag-size / 3;
    margin-right: auto;
    margin-left: auto;
    content: "";
    background: transparent;
    border-radius: 50%;
    box-shadow: -$flag-size / 20 0 0 $flag-size / 30 #fff;
  }

  &::after {
    position: absolute;
    top: 35%;
    left: 55%;
    font-size: $flag-size / 6;
    color: #fff;
    content: "★";
    transform: rotate(15deg);
  }
}
// Turkmenistan
&-tm {
  background: #00843d;
}
// Tuvalu
&-tv {
  background: #1085bd;
}

// // Taiwan
// &-tw {
//   background: #d00006;

//   &::before {
//     padding: $flag-size / 20 $flag-size / 8;
//     background-color: #002868;

//     @include flagSymbol("\e92e", #fff, 0, 0, $flag-size / 4);
//   }
// }

// // Tokelau
// &-tk {
//   background: #01156a;

//   &::before {
//     @include flagSymbol("\e933", #fff, 0, 10%);
//   }

//   &::after {
//     @include flagSymbol("\e934", #fed100, 20%, 10%, $flag-width / 1.8);
//   }

// }

// // Turks and Caicos Islands
// &-tc {
//   background: #0018a8;
// }
