// Uganda
&-ug {
  background:
    linear-gradient(
      to bottom,
      #000,
      #000 calc(100% / 6),
      #ffe700 calc(100% / 6),
      #ffe700 calc(100% / 3),
      #de3908 calc(100% / 3),
      #de3908 calc(100% / 6 * 3),
      #000 calc(100% / 6 * 3),
      #000 calc(100% / 3 * 2),
      #ffe700 calc(100% / 3 * 2),
      #ffe700 calc(100% / 6 * 5),
      #de3908 calc(100% / 6 * 5),
      #de3908 100%
    );
}
// Ukraine
&-ua {
  @include twoPart(#005bbb, #ffd500);
}
// United Arab Emirates
&-ae {
  background:
    linear-gradient(
      to right,
      #c8102e 30%,
      transparent 30%
    ),
    linear-gradient(
      #00732f,
      #00732f calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #000 calc(100% / 3 * 2),
      #000 100%,
    );
}
// United Kingdom
&-gb {
  background: #00247d;
}
// United States
&-us {
  background:
    repeating-linear-gradient(
      to bottom,
      #b22234,
      #b22234 $flag-height / 14,
      #fff $flag-height / 14,
      #fff $flag-height / 7
    );

  &::before {
    background-color: #002868;

    @include flagSymbol("\e935", #fff, 0, 0, $flag-size / 3);
  }
}
// Uruguay
&-uy {
  background:
    repeating-linear-gradient(
      to bottom,
      #fff,
      #fff $flag-height / 9,
      #0038a8 $flag-height / 9,
      #0038a8 $flag-height / 4.5
    );
}
// Uzbekistan
&-uz {
  background:
    repeating-linear-gradient(
      to bottom,
      #0099b5,
      #0099b5 30%,
      #ce1126 33%,
      #fff 33%,
      #fff 67%,
      #ce1126 67%,
      #1eb53a 70%,
      #1eb53a 100%
    );
}
