// Vietnam
&-vn {
  position: relative;
  background: #c8102e;

  &::before {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: $flag-size / 3;
    color: #ffcd00;
    text-align: center;
    content: "★";
  }
}
