// Wallis and Futuna
&-wf {
  background: #e50d2c;
}
// Western Sahara
&-eh {
  position: relative;
  background:
    linear-gradient(
      135deg,
      #c4111b 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      45deg,
      #c4111b 20%,
      transparent 15%
    ) 0 $flag-size,
    linear-gradient(
      to bottom,
      #000,
      #000 calc(100% / 3),
      #fff calc(100% / 3),
      #fff calc(100% / 3 * 2),
      #007a3d calc(100% / 3 * 2),
      #007a3d 100%,
    );

  &::before {
    position: absolute;
    top: 35%;
    right: 0;
    left: 20%;
    width: $flag-size / 5;
    height: $flag-size / 5;
    margin-right: auto;
    margin-left: auto;
    content: "";
    background: transparent;
    border-radius: 50%;
    box-shadow: -$flag-size / 30 0 0 $flag-size / 60 #d21034;
  }

  &::after {
    position: absolute;
    top: 38%;
    left: 55%;
    font-size: $flag-size / 6;
    color: #d21034;
    content: "★";
    transform: rotate(15deg);
  }
}
