@import "reset";

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f0f0f0;
}

.label {
  display: block;
  width: 75%;
  height: 12px;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #b3b3b3;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  @extend .padding;
}

.wrapper {
  float: left;
  width: 50%;
  min-height: 120px;

  @media screen and (min-width: 640px) {
    width: 33.33333%;
  }

  @media screen and (min-width: 768px) {
    width: 25%;
  }

  @media screen and (min-width: 1024px) {
    width: 12.5%;
  }
}

.padding {
  padding: 10px;
}

.container {
  margin: 20px 0;
}
